@model IEnumerable<ShoppingCart.Models.Mobiles>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Mobile List</h1>

@foreach (var item in Model)
{

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <a href="@Url.Action("EachMobileDetails", "Home", item.Id)">
                    <img src="~/Images/@item.Url" class="img-fluid rounded-start" alt="...">
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.MobileName)
                    </h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">
                            @* <a id="btn_add" href="@Url.Action("Add", "AddToCart", item)">Add To Cart</a> *@
                            <a id="btn btn-primary" href="@Url.Action("AddToCart", "ShoppingCart", item)" role="button">Add To Cart</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

}
