<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1bd1718e-4c3a-4b9e-85d9-95a627ce5ffc/resourceGroups/T2301E/providers/Microsoft.Web/sites/t2301eRelay</ResourceId>
    <ResourceGroup>T2301E</ResourceGroup>
    <ApiResourceId>/subscriptions/1bd1718e-4c3a-4b9e-85d9-95a627ce5ffc/resourceGroups/DefaultResourceGroup-SEA/providers/Microsoft.ApiManagement/service/AzureWebAPIManagement/apis/AzureWebAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://t2301erelay.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>326014da-8b76-496e-b32c-a5a3fe1719e8</ProjectGuid>
    <MSDeployServiceURL>t2301erelay.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>t2301eRelay</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$t2301eRelay</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>